.hero-box-wrapper {
    background-color: rgb(19, 88, 145);
    .hero-box-content-wrapper {
        padding: 250px 0 300px;
        color: white;
        max-width: 1300px;
        margin-right: auto;
        margin-left: auto;

        .hero-box-title {
            font-size: 90px;
            font-weight: 900;
            margin-bottom: 50px;
            margin-left: 20px;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            animation: typing 3s steps(30);
        }
        @keyframes typing {
            from { width: 0 }
        }
        .hero-box-description {
            font-size: 20px;
            max-width: 500px;
            margin-top: 0;
            margin-left: 20px;
        }
    }
}

.home-page-container {
    font-family: 'Golos Text', sans-serif;
    color: #4F4F4F;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;

    

    .all-sections-wrapper {
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin: 0 20px;

        .post-and-user-section-wrapper {
            display: grid;
            grid-template-columns: 5fr 3fr;
            gap: 40px;
            
            

            .all-posts-wrapper {
                .section-title-wrapper {
                    a {
                        text-decoration: none;
                        font-size: 25px;
                        text-transform: uppercase;
                        color: rgb(48, 162, 255);

                        .section-title {
                            font-weight: 900;
                        }
                    }
                    a:hover {
                        color: rgb(118, 192, 253);
                    }
                }
                .one-post-all-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .post-item {
                        padding: 50px 100px 40px;
                        background-color: white;
                        border-radius: 20px;
                    }
                }
            }
            .all-users-wrapper {
                .section-title-wrapper {
                    a {
                        text-decoration: none;
                        font-size: 25px;
                        text-transform: uppercase;
                        color: rgb(48, 162, 255);

                        .section-title {
                            font-weight: 900;
                        }
                    }
                    a:hover {
                        color: rgb(118, 192, 253);
                    }
    
                }
                .one-users-all-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
    
                    .user-item {
                        padding: 30px 30px 30px;
                        background-color: white;
                        border-radius: 20px;
                    }
                }
            }
        }
        .all-albums-wrapper {
            .section-title-wrapper {
                a {
                    text-decoration: none;
                    font-size: 25px;
                    text-transform: uppercase;
                    color: rgb(48, 162, 255);

                    .section-title {
                        font-weight: 900;
                    }
                }
                a:hover {
                    color: rgb(118, 192, 253);
                }
            }
            .one-album-all-wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                .post-item {
                    padding: 70px 20px 30px;
                    width: 260px;
                    background-color: white;
                    border-radius: 20px;
                }
            }
        }
        .all-movies-wrapper {
            .section-title-wrapper {
                a {
                    text-decoration: none;
                    font-size: 25px;
                    text-transform: uppercase;
                    color: rgb(48, 162, 255);

                    .section-title {
                        font-weight: 900;
                    }
                }
                a:hover {
                    color: rgb(118, 192, 253);
                }
            }
            .one-album-all-wrapper {
                display: flex;
                flex-wrap: wrap;

                .post-item {
                    width: 620px;
                }
            }
        }
    }
}
