#create-user-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form-control-wrapper {
        display: flex;
        gap: 20px;
        
        .form-control {
            display: flex;
            flex-direction: column;
            gap: 7px;
            width: 100%;

            .create-user-section-title {
                font-size: 18px;
            }
            .create-user-text {
                border: none;
                padding: 7px 15px;
                font-size: 16px;
                color: #4F4F4F;
                font-family: 'Golos Text', sans-serif;
                border-radius: 10px;
            }
        }
    }
    .form-buttons-wrapper {
        display: flex;
        gap: 20px;
        justify-content: flex-end;

        .form-button-wrapper {
            .user-from-button {
                padding: 10px 25px;
                background-color: #4F4F4F;
                color: white;
                border: none;
                font-family: 'Golos Text', sans-serif;
                font-weight: 600;
                cursor: pointer;
                border-radius: 10px;
            }
            .user-from-button:hover {
                background-color: rgb(48, 162, 255);
            }
        }
    }
    .success-created-user {
        .success-created {
            color: rgb(48, 162, 255);
            margin-top: 0;
        }
    }
}