#page-content {

    .button-new-user-wrapper {
        .post-create-link {
            text-decoration: none;
            color: #4F4F4F;
            display: flex;
            gap: 20px;
            align-items: center;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            cursor: pointer;
            
            .plus-symbol {
                font-size: 45px;
                font-weight: 700;
                padding: 10px 25px;
                color: white;
                background-color: #4F4F4F;
                border-radius: 50%;
            }
            .plus-text {
                font-size: 25px;
                font-weight: 700;
            }
        }
        .post-create-link:hover {
            color: rgb(48, 162, 255);
    
            .plus-symbol {
                background-color: rgb(48, 162, 255);
            }
        }
    }


    .users-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

        .users-list-item {
            padding-bottom: 30px;
            border-bottom: 1px solid rgb(215, 215, 215);
            display: flex;
            gap: 10px;
            align-items: center;
            margin-top: 17px;

            .users-list-item-link {
                text-decoration: none;
                color: #4F4F4F;
                
            }
            .users-list-item-link:hover {
                color: rgb(48, 162, 255);
                
            }
            .user-posts-count {
                color: #8a8a8a;
                font-size: 13px;
            }
        }
    }
}




