

.users-list-item {
    
    

    .user-text-wrapper {
        display: flex;
        gap: 10px;
        
        .users-list-item-link {
            text-decoration: none;
            color: #4F4F4F;
            
        }
        .users-list-item-link:hover {
            color: rgb(48, 162, 255);
            
        }
        .user-posts-count {
            color: #8a8a8a;
            font-size: 13px;
        }
    }
}
