

.movie-link-wrapper {
    padding: 50px 70px 60px;
    border-radius: 20px;
    background-color: white;

    .movie-wrapper {
        .movie-title {
            color: rgb(48, 162, 255);
            font-size: 21px;
        }
        .movie-description {
            color: #9a9a9a;
        }
    }
    .user-company-wrapper {
        display: flex;
        gap: 30px;
        .movie-author {
            margin: 0;

            .movie-title {
            font-weight: 600;
                
            }
        }
        .movie-year {
            margin: 0;

            .movie-title {
                font-weight: 600;
                    
                }
        }
    }
}