.all-movies-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .post-item {
        background-color: white;
        border-radius: 20px;
        display: flex;

        .delete-button {
            display: flex;
            align-items: flex-start;
            margin: 40px 40px 0 0;
        }
    }
}