.user-delete-button-wrapper {
    .delete-button {
        background-color: rgba(255, 255, 255, 0);
        border: none;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
    }
    .delete-button:hover {
        color: rgb(48, 162, 255);
    }
}