.post-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .user-shortcut-wrapper {
        display: flex;
        gap: 20px;
        align-items: center;

        .photo-wrapper {
            .user-photo-small {
                border-radius: 50%;
            }
        }
        .user-shortcut-near-photo-wrapper {
            .user-link {
                text-decoration: none;
                color: #4F4F4F;
                display: flex;
                flex-direction: column;
                gap: 3px;

                .user-name-username-wrapper {
                    display: flex;
                    gap: 7px;
                    align-items: center;

                    .user-name-post {
                        margin: 0;
                    }
                }
            }
            .user-link:hover {
                color: rgb(48, 162, 255);

            }
        }
    }

    .posts-list-item-link-wrapper {
        .posts-list-item-link {
        text-decoration: none;
        color: #4F4F4F;

            .post-title {
                font-size: 20px;
                font-weight: 700;
                margin: 20px 0;
            }
            .post-body {
                font-size: 15px;
                color: #959595;
            }
        }
        .posts-list-item-link:hover {
            .post-title {
                color: rgb(48, 162, 255);
            }
        }
        .date-wrapper {
            display: flex;
            gap: 30px;
            justify-content: flex-start;
            color: #9c9c9c;
            font-size: 14px;
            margin-top: 30px;
        }
    }
    
}