
header {
    background-color: rgb(241, 241, 241);
    box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.1);

    .navigation-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;

        .logo-wrapper {
            .logo-link {
                text-decoration: none;
                font-size: 22px;
                color: rgb(48, 162, 255);

                .nav-logo {
                    font-weight: 900;
                    margin: 0;
                }
            }
            .logo-link:hover {
                color: rgb(118, 192, 253);
            }
        }
        .right-side-nav-wrapper {
            display: flex;
            gap: 20px;
            align-items: center;

            .search-input-wrapper {
                form {
                    display: flex;
                    gap: 10px;

                    .search-input {
                        border: 1px solid rgb(200, 200, 200);
                        padding: 7px 10px;
                    }
                    button {
                        background-color: rgb(48, 162, 255);
                        color: white;
                        border: none;
                        padding: 0 15px;
                        cursor: pointer;
                    }
                    button:hover {
                        background-color: rgb(118, 192, 253);
                        color: white;
                    }
                }
            }

            .nav-list {
                list-style-type: none;
                display: flex;
                gap: 30px;
                .nav-list-item{
                    .nav-list-item-link {
                        text-decoration: none;
                        font-size: 17px;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: #4F4F4F;
                    }
                    .nav-list-item-link:hover {
                        color: rgb(48, 162, 255);
                    }
                    .nav-list-item-link.active {
                        color: rgb(48, 162, 255);
                        padding-bottom: 3px;
                        border-bottom: 3px solid rgb(48, 162, 255);
                    }
                }
            }
        }

        
    }    
}   