.page-title-wrapper {
    display: inline-block;
    font-size: 50px;

    .page-title {
        font-size: 50px;
        text-transform: uppercase;
        margin: 0 0 70px;
        font-weight: 900;
        color: rgb(48, 162, 255);
        letter-spacing: 5px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 3s steps(30);
    }
    @keyframes typing {
        from { width: 0 }
    }
}

.button-new-user-wrapper {
    .user-create-link:hover {
        .plus-symbol {
            background-color: rgb(48, 162, 255);
        }
        .plus-text {
            color: rgb(48, 162, 255);
        }
    }
}

.one-album-all-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .album-item {
        width: 270px;
        padding: 20px 25px 30px;
        background-color: white;
        border-radius: 20px;

        .delete-button-wrapper {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
        }
        .photos-wrapper {
            img {
                width: 100%;
            }
        }
    }
}