.page-wrapper {
    font-family: 'Golos Text', sans-serif;
    color: #4F4F4F;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0 20px;
}